.inner-form-box {
  .inner-alert {
    margin-bottom: 15px;

    .text-box {
      .important-text {
        color: #f5222d;
      }
    }
  }

  .half-button {
    min-width: 150px;
  }

  .button {
    min-width: 300px;
  }

  .img {
    padding-bottom: 20px;
  }
}