.write-basic-box {
  border-bottom: 1px solid #ddd;

  .nativePlace-input-box {
    display: flex;
    flex-direction: row;
  }

  .basic-title-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .title-left-box {
      color: rgb(51, 68, 84);

      .icon {
        font-size: 20px;
        margin-right: 16px;
      }

      span {
        font-size: 16px;
      }

      .content-tag {
        font-size: 12px;
        margin-left: 16px;
      }
    }
  }

  .description-str-box{
    display: flex;
    flex-direction: column
  }

  .alert {
    font-weight: 600;
  }

  .basic-bottom-box {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
}