.write-detail-box {
  padding: 10px;
  box-shadow: 0 0 5px #ddd;
  margin-bottom: 10px;

  .title-box {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background: rgb(51, 68, 84);
    border-bottom: 1px solid #ddd;
    color: #fff;
  }

  .subtitle-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: 10px;

    .exit-icon {
      font-size: 24px;
      color: rgb(51, 68, 84);
    }

    .subtitle-title {
      font-size: 16px;
      font-weight: 900;
      color: rgb(51, 68, 84);
      margin-bottom: 0;
    }
  }

  .write-form-box {
    .description-box {
      border-bottom: 1px solid #ddd;

      .description-title-box {
        span {
          font-size: 16px;
        }

        .plus-icon {
          padding-left: 10px;
        }
      }

      .modify-button {
        background: #52c41a;
        border: 1px solid #52c41a;
      }

      .delete-button {
        background: #f5222d;
        border: 1px solid #f5222d;
        margin-left: 20px;
      }
    }

    .inner-form-box {
      border-bottom: 1px solid #ddd;
    }

    .link-icon {
      font-size: 16px;
    }

    span {
      margin-left: 5px;
      font-size: 14px;
    }
  }
}