.write-item-box {
  border-bottom: 1px solid #ddd;
  padding-top: 20px;

  .item-title-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .title-left-box {
      .icon {
        color: rgb(51, 68, 84);
        font-size: 20px;
        margin-right: 16px;
      }

      span {
        color: rgb(51, 68, 84);
        font-size: 16px;
      }
    }

    .item-bottom-box {
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
    }
  }

  .write-description-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .description-title-text {
      span {
        font-size: 14px;
        font-weight: 600;
        padding-right: 20px;
      }
    }

    .description-title-button {
      .link-button {
        font-size: 20px;
      }
    }
  }

  .write-description-box {
    padding: 20px;
  }
}