.write-item-box {
  border-bottom: 1px solid #ddd;
  padding-top: 20px;

  .item-title-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .title-left-box {
      .icon {
        color: rgb(51, 68, 84);
        font-size: 20px;
        margin-right: 16px;
      }

      span {
        color: rgb(51, 68, 84);
        font-size: 16px;
      }
    }

  }

  .item-bottom-box {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
}