.time-set-box {
  padding: 10px;
  box-shadow: 0 0 5px #ddd;
  margin-bottom: 10px;

  .title-box {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background: rgb(51, 68, 84);
    border-bottom: 1px solid #ddd;
    color: #fff;
  }

  .time-staff-content-box {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;

    .content-left-box {
      width: 30%;
      margin-right: 30px;

      .save-button {
        width: 180px;
      }
    }

    .content-middle-box {
      width: 30%;
      margin-right: 30px;

      .save-button {
        width: 180px;
      }
    }

    .content-right-box {
      width: 30%;

      .save-button {
        width: 180px;
      }
    }
  }
}
