.department-list-box {
  padding: 10px;
  box-shadow: 0 0 5px #ddd;
  margin-bottom: 10px;

  .title-box {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background: rgb(51, 68, 84);
    border-bottom: 1px solid #ddd;
    color: #fff;
  }
}

.inner-modal-box {
  display: flex;
  align-items: center;
  flex-direction: column;

  .input {
    width: 200px;
  }

  .save-button {
    margin-top: 20px;
    width: 200px;
  }
}