.home-index-box {
  display: flex;
  flex-direction: column;

  .index-button-box {
    display: flex;
    justify-content: flex-end;
  }

  .button {
    background: #52c41a;
    border: 1px solid #52c41a;
    margin-bottom: 20px;
  }
}