.review-item-detail-box {
  padding-top: 20px;
  border-bottom: 1px solid #ddd;

  .detail-title-box {
    display: flex;
    flex-direction: row;

    .icon {
      color: rgb(51, 68, 84);
      font-size: 20px;
      margin-right: 16px;
    }

    span {
      color: rgb(51, 68, 84);
      font-size: 16px;
    }
  }
}