.modify-detail-box {
  padding: 10px;
  box-shadow: 0 0 5px #ddd;
  margin-bottom: 10px;

  .title-box {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background: rgb(51, 68, 84);
    border-bottom: 1px solid #ddd;
    color: #fff;
  }

  .subtitle-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: 10px;

    .exit-icon {
      font-size: 24px;
      color: rgb(51, 68, 84);
    }

    .subtitle-title {
      font-size: 16px;
      font-weight: 900;
      color: rgb(51, 68, 84);
      margin-bottom: 0;
    }
  }

  .detail-content-box {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .detail-title {
      font-size: 16px;
      font-weight: 900;
      color: rgb(51, 68, 84);
      margin-bottom: 0;
    }

    .description-title {
      font-size: 14px;
      font-weight: 900;
      color: rgb(51, 68, 84);
      margin-bottom: 0;
    }

    .item-box {
      display: flex;

      .item-left-box {
        border: 1px solid #ddd;
        margin: -17px 0 -17px -25px;
        align-items: center;
        display: flex;
        width: 375px;
        height: 55px;

        span {
          padding-left: 15px;
        }

        .inner-item-box {
          width: 100%;
        }
      }

      .inner-description-left-box {
        border-right: 1px solid #ddd;
        margin: -17px 0 -17px -25px;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 375px;

        .inner-descriptions-box {
          width: 320px;
          padding: 0 0 15px 0;

          .inner-descriptions-title-box {
            padding: 15px 0 0 15px;
          }
        }
      }

      .item-right-box {
        width: 50%;
        padding-left: 20px;
        align-items: center;
        display: flex;
        width: 375px;
        margin: -17px -25px -17px 0;
        border: 1px solid #ddd;
        border-left: 0;

        .input-box {
          border: 0;
          margin: -15px;

          &:hover {
            border: 1px solid #ddd;
          }
        }
      }

      .item-right-modify-box {
        width: 50%;
        padding-left: 20px;
        align-items: center;
        display: flex;
        width: 375px;
        margin: -17px -25px -17px 0;
        border: 1px solid #ddd;
        border-left: 0;
        background: #ffefdb;

        .input-box {
          border: 0;
          margin: -15px;
          background: #ffefdb;

          &:hover {
            border: 1px solid #ddd;
          }
        }
      }

      .inner-description-right-box {
        margin: -17px -30px -17px 0;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 375px;

        .inner-descriptions-box {
          width: 320px;
          padding: 0 0 15px 0;

          .inner-descriptions-title-box {
            padding: 15px 0 0 15px;
          }

          .inner-descriptions-modify-box {
            background: #ffefdb;
          }

          .inner-descriptions-item-box {
            max-height: 50px;
          }

          .inner-input-box {
            border: 0;
            margin: -13px;

            &:hover {
              border: 1px solid #ddd;
            }
          }

          .inner-input-modify-box {
            border: 0;
            margin: -13px;
            background: #ffefdb;

            &:hover {
              border: 1px solid #ddd;
            }
          }
        }
      }
    }
  }

  .detail-bottom-box {
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;

    .modify-button {
      background: #52c41a;
      border: 1px solid #52c41a;
      margin-right: 20px;
    }

    .grade-button {
      margin-right: 40px;
    }
  }
}