.verify-item-detail-box {
  padding-top: 20px;
  border-bottom: 1px solid #ddd;

  .detail-title-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .title-left-box {
      color: rgb(51, 68, 84);

      .icon {
        font-size: 20px;
        margin-right: 16px;
      }

      span {
        font-size: 16px;
      }

      .content-tag {
        font-size: 12px;
        margin-left: 16px;
      }
    }

    .download-button-box {
      .download-button {
        width: 300px;
      }
    }
  }

  .verify-description-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .description-title-text {
      span {
        font-size: 14px;
        font-weight: 600;
        padding-right: 20px;
      }

      .content-tag {
        font-size: 12px;
        font-weight: 400;
        padding-right: 8px;
      }
    }

    .description-title-button {
      .link-button {
        font-size: 14px;
      }
    }
  }

  .verify-description-box {
    padding: 20px;
  }
}

.button-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;

  .success-button {
    background: #52c41a;
    border: 1px solid #52c41a;
  }

  .fail-button {
    background: #f5222d;
    border: 1px solid #f5222d;
  }
}